/*GENERAL CSS*/
.main-content, .main-nav {
    max-width: 1080px;
    margin: 0 auto;
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}


/*CSS FOR TABLE-LIKE STYLING*/
#MainContent_page_result {
    font-weight:normal;
}
#page_result {
    width: 100%;
}

.listitem {
    background: #dad6d6;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #efe9e9;
    }

    .listitem:hover {
        background: #d2c7c7;
    }

    .listitem[id$="_header"] {
        background-color: darkcyan;
        color: white;
        font-weight: bold;
    }

div[id$="_nav"] {
    margin-bottom: 10px;
}

.col4{
    float: left;
    width: 21.73%;
    /*margin-right: 4.34%;*/
}

/*GENERAL CSS*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    max-width: 1080px;
    margin: 0 auto;
    color: #f6fafd;
    padding: 0.5em;
}

header, footer {
    background: #707f82;
}

header {
    margin: 0;
    padding: 1em;
}

.main-nav #title {
    color: #f6fafd;
    font-size: 1em;
    position: relative;
    left: 0.5em;
}
#MainContent_page_list {
    padding:1em;
    margin:1em;
   /* float:right;*/
}
/*NAVIGATION*/
a {
    margin-right: 2.5em;
}

    a:hover {
        color: #03738C;
        font-weight: bold;
    }

.main-nav li {
    display: inline-block;
}

.main-nav #header-nav {
    position: absolute;
    top: 3em;
    right: 2em;
}

/* MAIN CONTENT*/
#page_nav {
    /*align-content:center;*/
    margin-left: 15%;
}

.main-content {
    text-align:start;
    margin-top: 2%;
    margin-bottom: 2%;
    height:100%;
}
.MainContent_updatepage {
    margin:1em;
    padding:1em;
}

.formrow {
    margin-bottom: 0.5%;
}

.page{
    margin-bottom: 1em;
    font-weight: bold;
}

    .page:hover {
        background-color: #d8baba;
        color: black;
    }

.add {
    float:right;
    font-weight:bold;
}

footer {
    text-align: center;
    color: white;
    padding: 1em;
}




                                   


